.topheader {
  background-color: red;
}
.navbar {
  background-color: red;
}
.navbar-item {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}
.results--section {
  padding: 20px 0px;
  margin-top: 40px;
}
h1 {
  text-align: center;
  font-size: 30px;
}
